
{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" style="width: 900px; ">
        <div class="card" >
          <div class="card-body">
             <h1 class="card-title">{{ object.title }}</h1>
             <h6 class="card-subtitle mb-2 text-muted">Muallif: {{ object.author }} | {{ object.date }}</h6>
              {%  if object.photo %} 
                <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}" style="width: 800px; height: 450px; object-fit: fill;">
              {% endif %}
              <p class="card-text">{{ object.body | safe}}</p>
              <a href="{% url 'article_update' article.pk %}">Tahrirlash</a> |
              <a href="{% url 'article_delete' article.pk %}">O'chirish</a> |
              <a href="{% url 'article_list' %}">Barcha postlar</a>
          </div>
        </div>
    </div>
{% endblock content %}

